@page
@model final.Pages.Physicians.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Physician</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Physician.PhysicianId" class="control-label"></label>
                <input asp-for="Physician.PhysicianId" class="form-control" />
                <span asp-validation-for="Physician.PhysicianId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Physician.FirstName" class="control-label"></label>
                <input asp-for="Physician.FirstName" class="form-control" />
                <span asp-validation-for="Physician.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Physician.LastName" class="control-label"></label>
                <input asp-for="Physician.LastName" class="form-control" />
                <span asp-validation-for="Physician.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Physician.Specialty" class="control-label"></label>
                <input asp-for="Physician.Specialty" class="form-control" />
                <span asp-validation-for="Physician.Specialty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Physician.Phone" class="control-label"></label>
                <input asp-for="Physician.Phone" class="form-control" />
                <span asp-validation-for="Physician.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Physician.OhipRegistration" class="control-label"></label>
                <input asp-for="Physician.OhipRegistration" class="form-control" />
                <span asp-validation-for="Physician.OhipRegistration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
