@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mohawk Car Rentals</h1>
    <p>Serving the Mohawk College community since 1966.</p>
    <img class="img-fluid" src=~/images/car.jpg/>
</div>
